.projetos {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.projetos-content {
  display: flex;
  justify-content: center;
  position: relative;
  left: 100px;
  width: 800px;
  height: 85vh;
  background-color: transparent;
  overflow-y: scroll;
  margin-top: 100px;
}

.projetos-content::-webkit-scrollbar {
  display: none;
}

.projetos-slider {
  background-color: transparent;
  width: 700px;
  height: 200vh;
}

.data-li {
  display: flex;
  justify-content: start;
  background: transparent;
  margin-bottom: 80px;
}

.data-li-rigth {
  display: flex;
  justify-content: end;
  background: transparent;
  margin-bottom: 80px;
}

.data-li-rigth a {
  order: 2;
}

.data-li-rigth .desc-div {
  text-align: end;
}

.desc-div h4 {
  font-family: 'neue-montreal';
}

.desc-div p {
  font-family: 'neue-montreal-t';
  letter-spacing: 1px;
  font-weight: 600;
}

strong {
  font-size: 14px;
  font-style: oblique;
}

.projetos-slider ul {
  list-style: none;
}

.data-img {
  display: flex;
  position: relative;
  width: 280px;
  filter: saturate(0) blur(1px) brightness(40%);
  transition: all .3s ease-in;
}

.data-img-border {
  background-color: red;
}

.data-img:hover {
  filter: saturate(0.5) blur(0px) brightness(60%);
}

.desc-div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30%;
  margin: 0px 40px;
}

.sus {
  width: 300px;
  height: 182.53;
  backdrop-filter: blur(4px);
}