.sidebar {
  position: fixed;
  width: 55px;
  height: 97vh;
  max-height: 900px;
  border: 1px solid #1c1c1c;
  margin: -20px 0 0 12px;
  backdrop-filter: blur(3px);
  background-color: rgba(194, 193, 193, 0.2);
  z-index: 30;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 40px;
  }
}



