.home {
  display: flex;
  position: absolute;
  right: 35px;
  bottom: 55px;
  width: 130px;
  height: 300px;
}

.home p {
  font-family: 'neue-montreal';
  text-align: start;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1ce0;
}